# Espacios muestrales y sucesos (o eventos)

In [1]:
import pandas as pd
import numpy as np

In [2]:
proyectos_d = {
    "Etapa 1 Diseño": [2, 2, 2, 3, 3, 3, 4, 4, 4],
    "Etapa 2 Construcción": [6, 7, 8, 6, 7, 8, 6, 7, 8],
    "Punto muestral": [(2, 6), (2, 7), (2, 8), (3, 6), (3, 7), (3, 8), (4, 6), (4, 7), (4, 8)],
    "Número de proyectos que tuvieron esa duración": [6, 6, 2, 4, 8, 2, 2, 4, 6]
}

In [4]:
df_proyectos = pd.DataFrame(proyectos_d)

df_proyectos

,Etapa 1 Diseño,Etapa 2 Construcción,Punto muestral,Número de proyectos que tuvieron esa duración
0,2,6,"(2, 6)",6
1,2,7,"(2, 7)",6
2,2,8,"(2, 8)",2
3,3,6,"(3, 6)",4
4,3,7,"(3, 7)",8
5,3,8,"(3, 8)",2
6,4,6,"(4, 6)",2
7,4,7,"(4, 7)",4
8,4,8,"(4, 8)",6

In [6]:
df_proyectos['tiempo de terminacion'] = [punto[0] + punto[1] for punto in df_proyectos['Punto muestral']]

In [8]:
df_proyectos

,Etapa 1 Diseño,Etapa 2 Construcción,Punto muestral,Número de proyectos que tuvieron esa duración,tiempo de terminacion
0,2,6,"(2, 6)",6,8
1,2,7,"(2, 7)",6,9
2,2,8,"(2, 8)",2,10
3,3,6,"(3, 6)",4,9
4,3,7,"(3, 7)",8,10
5,3,8,"(3, 8)",2,11
6,4,6,"(4, 6)",2,10
7,4,7,"(4, 7)",4,11
8,4,8,"(4, 8)",6,12

In [10]:
total = sum(df_proyectos['Número de proyectos que tuvieron esa duración'])

total

40

In [11]:
df_proyectos['prob'] = [i / total  for i in df_proyectos['Número de proyectos que tuvieron esa duración']]

In [17]:
df_proyectos.loc[df_proyectos['tiempo de terminacion'] < 10] # Evento: proyectos con duración menor a 10 meses

,Etapa 1 Diseño,Etapa 2 Construcción,Punto muestral,Número de proyectos que tuvieron esa duración,tiempo de terminacion,prob
0,2,6,"(2, 6)",6,8,0.15
1,2,7,"(2, 7)",6,9,0.15
3,3,6,"(3, 6)",4,9,0.10

In [19]:
df_proyectos

,Etapa 1 Diseño,Etapa 2 Construcción,Punto muestral,Número de proyectos que tuvieron esa duración,tiempo de terminacion,prob
0,2,6,"(2, 6)",6,8,0.15
1,2,7,"(2, 7)",6,9,0.15
2,2,8,"(2, 8)",2,10,0.05
3,3,6,"(3, 6)",4,9,0.10
4,3,7,"(3, 7)",8,10,0.20
5,3,8,"(3, 8)",2,11,0.05
6,4,6,"(4, 6)",2,10,0.05
7,4,7,"(4, 7)",4,11,0.10
8,4,8,"(4, 8)",6,12,0.15

espacio muestral = {1, 2, 3, 4, 5, 6}

espacio de eventos = {1, 2, 3, 4, 5, 6, (2, 4, 6), (1,3,5), (2, 3, 5), (1, 2, 3)...}

# Clasificación de los sucesos

![tabla](img/tablaest.png)

### Variables

Origen = {Nacional, Importado}

Eventos = {{ }, {Nacional}, {Importado}, {Nacional, Importado}}

Edad   = {Menos de 40, Entre 40 y 50, Más de 50}


### Sucesos simples

**Origen** = {{Nacional}, {Importado}}


### Sucesos compuestos

**Origen** = {{Nacional, Importado}}

In [20]:
ventas = {
    "Nacional": [24, 19, 7],
    "Importado": [6, 15, 9]
}

df_ventas = pd.DataFrame(ventas, index=['Menos de 40', 'Entre 40 y 50', 'Más de 50'])

In [21]:
df_ventas

               Nacional  Importado
Menos de 40          24          6
Entre 40 y 50        19         15
Más de 50             7          9

In [23]:
total = np.sum(np.array(df_ventas[['Nacional', 'Importado']]))

total

80

In [24]:
24/80

0.3

In [25]:
np.sum(df_ventas['Nacional']) / total

0.625

Espacio muestral:

S = {(Nacional, Menos de 40), (Nacional, Entre 40 y 50), (Nacional, Más de 50), (Importado, Menos de 40), (Importado, Entre 40 y 50), (Importado, Más de 50)}

Espacio de eventos:

Hay $2^6 = 64$ **eventos**: El evento nulo, cada uno de los seis **eventos simples**, el evento S y cada uno de los eventos con tres, cuatro y cinco puntos muestrales.

# Sucesos (eventos) excluyentes

En el ejemplo anterior, los eventos:

A = {{(Nacional, Menos de 40), (Nacional, Entre 40 y 50), (Nacional, Más de 50)}} 

B = {{(Importado, Menos de 40), (Importado, Entre 40 y 50), (Importado, Más de 50)}}

Son **excluyentes**. No tienen puntos muestrales en común. 

A son las ventas de autos nacionales. 

B son las ventas de autos importados.

Además, estos eventos son **exhaustivos**: los autos son nacionales o son importados. No hay otra opción.

C = {{(Nacional, Menos de 40), (Importado, Menos de 40)}}

D = {{(Nacional, Entre 40 y 50), (Importado, Entre 40 y 50)}}

E = {{(Nacional, Más de 50), (Importado, Más de 50)}}

C y D son eventos **excluyentes** pero **no son exhaustivos** (Falta E).

C, D y E son **excluyentes** y **exhaustivos**

# Sucesos compatibles

Tienen puntos muestrales en común:

A = {{(Nacional, Menos de 40), (Nacional, Entre 40 y 50), (Nacional, Más de 50)}}

C = {{(Nacional, Menos de 40), (Importado, Menos de 40)}}

A es la venta de autos nacionales

C es la venta de autos de cualquier origen a personas de menos de 40 años.

A y C con **compatibles**. Tienen en común (Nacional, Menos de 40)

# Unión e intersección de eventos

Los eventos se representan mediante **conjuntos**.

Puedo formar nuevos conjuntos a partir de otros mediante las siguientes operaciones:

### Unión

Si tengo dos eventos A y B, puedo formar el evento $A \cup B$ (A unión B) con todos los elementos que pertenecen a al menos A o B.

Por ejemplo:

A = {{(Nacional, Menos de 40), (Nacional, Entre 40 y 50), (Nacional, Más de 50)}}

C = {{(Nacional, Menos de 40), (Importado, Menos de 40)}}

$A \cup C$ = {{(Nacional, Menos de 40), (Nacional, Entre 40 y 50), (Nacional, Más de 50), (Importado, Menos de 40)}}

Si dos sucesos son exhaustivos, la unión es todo el espacio muestral.

Por ejemplo, A y B son exhaustivos. Su unión es todo S.



### Intersección

Dados dos eventos A y B, puedo formar el evento $A \cap B$ con todos los elementos que pertenecen tanto a A como a B.

$A \cap B$ = {{(Nacional, Menos de 40)}}

Si dos eventos son excluyentes, la intersección es vacía porque no tienen elementos en común.

A = {{(Nacional, Menos de 40), (Nacional, Entre 40 y 50), (Nacional, Más de 50)}} 

B = {{(Importado, Menos de 40), (Importado, Entre 40 y 50), (Importado, Más de 50)}}

$A \cap B$ = { }

# Ejercicio:

El espacio muestral de un dado es:

S = {1, 2, 3, 4, 5, 6}

Dados los eventos:

P = {{2, 4, 6}} (números pares)

I = {{1, 3, 5}} (números impares)

M = {{1, 2, 3}} (números menores que cuatro)

Describir:

- $P \cap I$

- $P \cap M$

- $I \cap M$

- $P \cup M$

- $P \cup I$

- $I \cup M$

# Ley de la adición

### Para eventos excluyentes

Sabemos que la probabilidad de que salga una cara de un dado es $\frac{1}{6}$

P({1}) = P({2}) = P({3}) = P({4}) = P({5}) = P({6}) = $\frac{1}{6}$

La probabilidad de que salga un número par es la probabilidad del evento {2, 4, 6} = {2} $\cup$ {4} $\cup$ {6}

Hay tres posibilidades para que se verifique ese evento: si sale un 2, si sale un 4 y si sale un 6.

Por lo tanto, tenemos tres posibilidades sobre un total de 6 del espacio muestral: $\frac{3}{6} = \frac{1}{2}$

Esto sugiere que la probabilidad de la unión de dos o más eventos excluyentes es **la suma** de esos eventos.

Si $A \cap B = \{ \text{ } \}$:

P($A \cup B$) = P(A) + P(B)

En el ejemplo de que al arrojar un dado salga un número par tenemos:

P({2, 4, 6}) = P({2} $\cup$ {4} $\cup$ {6}) = P({2}) + P({4}) + P({6}) = $\frac{1}{6} + \frac{1}{6} + \frac{1}{6}$ = $\frac{3}{6}$ = $\frac{1}{2}$

### Para eventos compatibles

¿Qué pasa si los eventos no son excluyentes?

Por ejemplo, la probabilidad de que un número sea par (P) o sea menor que 4 (M).

Ya vimos que la probabiliad de que un número sea par es $\frac{1}{2}$.

Lo mismo ocurre con la probabilidad de que sea menor a cuatro: P({1, 2, 3}) = P({1} $\cup$ {2} $\cup$ {3}) = $\frac{1}{2}$

Ahora bien. La probabilidad de que un número sea par o menor a cuatro es la probabilidad del evento {2, 4, 6} $\cup$ {1, 2, 3}

Pero en este caso, la probabilidad de que sea par o menor a cuatro no es la suma.

P({1, 2, 3, 4, 6}) = $\frac{5}{6}$ $\neq$ P({2, 4, 6}) + P({1, 2, 3}) = $\frac{2}{2}$ = 1

Esto es porque, si sumamos, estamos contando al número 2 dos veces, debido a que los eventos **no son excluyentes**

Para encontrar la fórmula, tenemos que tomar la precación de no contar dos veces los mismos eventos.

Para eso, tenemos que tomar en consideración la **intersección** de estos eventos (los resultados que tienen en común).

En este caso:

P $\cap$ M = {2, 4, 6} $\cap$ {1, 2, 3} = {2}

Por lo tanto, 

P(P $\cap$ M) = P({2}) = $\frac{1}{6}$

Al sumar P({2, 4, 6}) + P({1, 2, 3}), estamos considerando dos veces al evento {2}, por lo que debemos restarlo.

La **regla de la suma** es, entonces:

$$P(A \cup B) = P(A) + P(B) - P(A \cap B)$$

En nuestro ejemplo:

P({2, 4, 6} $\cup$ {1, 2, 3}) = P({2, 4, 6}) + P({1, 2, 3}) - P({2, 4, 6} $\cap$ {1, 2, 3}) 
= P({2, 4, 6}) + P({1, 2, 3}) - P({2}) 
= $\frac{1}{2}$ + $\frac{1}{2}$ - $\frac{1}{6}$ = $\frac{5}{6}$ = P({1, 2, 3, 4, 6})

Si los eventos son excluyentes, A $\cap$ B = { }, cuya probabilidad es 0, por lo que obtenemos nuevamente la fórmula incial de la suma de eventos.

### Ejemplo

La probabilidad de que una carta sea negra y roja es cero. Son sucesos mutuamente excluyentes.

Las cartas rojas son las 26 cartas con los números 2 a A de los palos diamante y corazón.

Sin embargo, la probabilidad de que una carta sea un 2 y roja es 

P(2) = 4/52 = 1/13

P(rojo) = 26/52 = 1/2

De las cuatro cartas que tienen el número dos, sólo dos son rojas. Por lo tanto,

P(2 y rojo) = 2/52 = 1/26 = 4/52 * 26 /52 = 1/13 * 1/2

# Probabilidad condicional

La probabilidad condicional es **la probabilidad de que ocurra un evento B dado que ocurre otro evento A**. Se designa mediante:

$$P(B|A)$$

Por ejemplo, la probabilidad de que al arrojar un dado el resultado sea un número primo (A = {2, 3, 5}) es $\frac{1}{2}$.

Pero si tenemos información adicional de que salió un número impar (B = {1, 3, 5}), la probabilidad de que ese número sea primo es mayor porque sabemos que tenemos dos opciones (3 y 5) entre tres (1, 3 ó 5). Por lo tanto:

P({2, 3, 5}) = $\frac{1}{2}$ $\neq$ P({2, 3, 5} | {1, 3, 5}) = $\frac{2}{3}$

Podemos pensar esto en dos pasos:

1) La probabilidad de que al arrojar el dado salga un número impar es P({1, 3, 5}) = $\frac{3}{6}$ = $\frac{1}{2}$ 
2) La probabilidad de que el resultado haya sido primo e impar es P({2, 3, 5} $\cap$ {1, 3, 5}) = P({3, 5}) = $\frac{2}{6}$ = $\frac{1}{3}$

La probabilidad la calculamos como casos favorables sobre el total.

En este caso, los casos que verifican A y B simultáneamente son 2 de un total de 6. 

Pero de esos 6 casos favorables, sólo tomamos en cuenta los que favorecen a B, que ya sabemos que ocurrió.

Favorables a A y B simultáneamente: $\frac{2}{6}$

Favorables a B: $\frac{3}{6}$

Por lo tanto, tenemos

$$\frac{ \frac{2}{6} }{ \frac{3}{6} } = \frac{2}{3}$$

En general, la probabilidad condicional se define como:

$$P(A | B) = \frac{ P(A \cap B) }{ P(B) }$$

### Ejemplo

La probabilidad de que una carta sea roja _dado que_ es un diamante es 1. 

    Todos los diamantes son rojos. 

    Esta carta es de diamante. 

    Por lo tanto, esta carta es roja.


La probabilidad de que una carta sea diamante _dado que_ es roja, es 1/2.

    Esta carta es roja. 

    La mitad de las cartas rojas, son diamantes. 

    Por lo tanto, la probabiliadad de que esta carta sea diamante es un medio.

# Sucesos independientes

Si dos sucesos son independientes, la ocurrencia de uno no debería afectar la probabilidad del otro.

Por ejemplo, la probabilidad de que al arrojar dos veces una moneda salga cara en el segundo lanzamiento es independiente de si en el primer lanzamiento salió cara o ceca.

Estos sucesos **son independientes**

Ahora bien, la probabilidad de sacar una carta negra es de $\frac{1}{2}$.

Si saco otra carta sin haber devuelto la primera al mazo. Ya no tengo 52 cartas para elegir, sino 51. De estas, ya no tengo 26 cartas negras porque saqué una. Tengo 25.

Por lo tanto, la probabilidad de volver a sacar otra vez una carta negra cambia.

La probabilidad es, ahora, $\frac{25}{51} \neq \frac{1}{2}$

Estos sucesos **no son independientes**

Formalmente, decimos que dos sucesos A y B on independientes cuando:

$$P(A | B) = P(A)$$

Cuando esto ocurre, podemos ver que:

$$P(A | B) = \frac{ P(A \cap B)}{P(B)} = P(A)$$

Por lo tanto,

$$P(A \cap B) = P(A) \times P(B)$$

### Excluyentes -> Independientes

¿Cuál es la relación entre eventos excluyentes e independientes?

Vemos fácilmente que dos eventos pueden ser excluyentes sin ser independientes.

Por ejemplo:

A = {2, 4, 6}

B = {1, 3, 5}

$A \cap B$ = { }

Por lo tanto, A y B son **excluyentes**. No tienen puntos muestrales en común. No pueden ocurrir simultáneamente.

Por otro lado,

P(A) = $\frac{1}{2}$

P(B) = $\frac{1}{2}$

pero P($A \cap B$) $\neq$ P(A) $\times$ P(B) = $\frac{1}{2} \times \frac{1}{2}$ = $\frac{1}{4}$

Por lo tanto, A y B **no son independientes**: La probabilidad de que la salida de un dado sea par es un medio. La probabilidad de que sea par dado que es impar es cero.


Si los eventos:

- son excluyentes: $P(A \cap B) = 0$

- son independientes: $\frac{P(A \cap B)}{P(B)} = P(A)$

entonces:

- P(A) = 0