# Homework clase 3

1. Suponga dos eventos, A y B, y que P(A) = 0.50, P(B) = 0.60 y P(A ∩ B) = 0.40.

a. Halle P(A | B).

b. Halle P(B | A).

c. ¿A y B son independientes? ¿Por qué sí o por qué no?

2. Suponga dos eventos, A y B, que son mutuamente excluyentes. Admita, además, que P(A) = 0.30 y P(B) = 0.40.

a. Obtenga P(A ∩ B). ¿Existe intersección entre los dos conjuntos?.

b. Calcule P(A | B).

c. Un estudiante de estadística argumenta que los conceptos de eventos mutuamente excluyentes y eventos independientes son en realidad lo mismo y que si los eventos son mutuamente excluyentes deben ser también independientes. ¿Está usted de acuerdo? Use la información sobre las probabilidades para justificar su respuesta.

Dada la siguiente tabla:

![autos](img/tablaest.png)

Si en la concesionaria se seleccionan dos ventas **con reposición** (Los sucesos son independientes.). Hallar la probabilidad de que las ventas sean:

a. La primera de un comprador de “menos de 40 años” y la segunda de uno de "entre 40 y 50 años".

b. las dos sean de autos "nacionales".

4. Si la selección de las dos ventas se realiza **sin reposición**. Hallar la probabilidad de que las ventas sean:

Los sucesos son condicionales.

a. la primera de un comprador de “menos de 40 años” y la segunda de uno de "entre 40 y 50 años".

b. las dos sean de autos "nacionales".

5. Si la selección de las dos ventas se realiza sin reposición. Hallar la probabilidad de que las ventas sean:

Los sucesos son condicionales.

a. De un comprador de “menos de 40 años” y de uno de "entre 40 y 50 años". Sin importar el orden.

6. Debido al aumento de los costos de los seguros, en un país de 43 millones de personas, hay personas que no cuentan con un seguro médico. En la tabla siguiente se muestran datos muestrales representativos de la cantidad de personas que cuentan con seguro médico:

![Seguro](img/seguro.png)

a. Con estos datos elabore una tabla de probabilidad conjunta y úsela para responder las preguntas restantes.

b. ¿Qué indican las probabilidades marginales acerca de la edad de la población?

c. ¿Cuál es la probabilidad de que una persona tomada en forma aleatoria no tenga seguro médico?

d. Si la persona tiene entre 18 y 34 años, ¿cuál es la probabilidad de que no tenga seguro médico?

e. Si la persona tiene 35 años o más ¿cuál es la probabilidad de que no tenga seguro médico?

f. Si la persona no tiene seguro médico, ¿cuál es la probabilidad de que tenga entre 18 y 34 años?

In [32]:
df_dict = {
    "Sí": [750, 950],
    "No": [170, 130]
}

In [33]:
import pandas as pd

df = pd.DataFrame(df_dict, index=["18 a 34", "35 o mayor"])

In [34]:
df

             Sí   No
18 a 34     750  170
35 o mayor  950  130

In [35]:
import numpy as np
total = np.sum(np.array(df))

total

2000

In [36]:
170/total

0.085

In [37]:
df.loc['Total'] = [np.sum(df['Sí']), np.sum(df['No'])]

In [39]:
df

              Sí   No
18 a 34      750  170
35 o mayor   950  130
Total       1700  300

In [45]:
df['Total'] = [df['Sí'][i] + df['No'][i] for i in range(df.shape[0])]

In [49]:
df

              Sí   No  Total
18 a 34      750  170    920
35 o mayor   950  130   1080
Total       1700  300   2000

In [51]:
130/1080

0.12037037037037036

In [53]:
170/300

0.5666666666666667

In [54]:
# probabilidad de que una persona que no tiene seguro (A) tenga entre 18 y 34 (B)
# La probabilidad de B dado A

(170/2000)/(920/2000)

0.1847826086956522

In [47]:
df[['Sí', 'No', 'Total']] / total

               Sí     No  Total
18 a 34     0.375  0.085   0.46
35 o mayor  0.475  0.065   0.54
Total       0.850  0.150   1.00

In [48]:
170 / 920

0.18478260869565216

In [29]:
pA = 0.5
pB = 0.6
pAB = 0.4

# Probabilidad de A dado B
pAB/pB

0.6666666666666667

$P(A | B) = \frac{P(A \cap B)}{P(B)}$

In [5]:
# Probabilidad de B dado A: 0.4 / 0.5

pAB / pA

0.8

In [6]:
pA * pB

0.3

In [7]:
pA_ = 0.3
pB_ = 0.4

In [9]:
# Son excluyentes

pA_ * pB_

0.12

In [10]:
(30/80) * (34/80)

0.159375

In [11]:
50/80 * 50/80

0.390625

In [12]:
(30/80) * (34/79)

0.16139240506329114

In [13]:
(50/80) * (49/79)

0.3876582278481012

(menor a 40, entre 40 y 50) o (entre 40 y 50, menor a 40)

In [14]:
# menor a 40, entre 40 y 50
(30/80) * (34/79)

0.16139240506329114

In [15]:
# entre 40 y 50, menor a 40
(34/80) * (30/79)

0.16139240506329114

In [16]:
(30/80) * (34/79) + (34/80) * (30/79)

0.3227848101265823